@using System.Security.Claims
@model PageAlbumViewModel

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All</h1>
<h1>@this.ViewBag.MyRole</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<partial name="_PagingPartial" />

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Created On
            </th>
            <th>
                Description
            </th>
            <th>
                Location
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.IndexAlbumViewModels)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.CreatedOn
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.Location
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_PagingPartial" />