@using System.Security.Claims
@model PageAlbumViewModel

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row mt-3 mb-3 ml-1">
    <form class="col-sm-12" asp-controller="Albums" asp-action="All" method="get">
        <div class="form-row">
            <label class="col-sm-2 col-form-label" asp-for="@Model.Search"></label>
            <input class="form-control col-sm-4" asp-for="@Model.Search" />
            <button class="btn btn-primary col-sm-2" type="submit">Search</button>
        </div>
    </form>
</div>

<partial name="_PagingPartial" model="Model" />

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-controller="Albums" asp-action="All" asp-route-sortOrder="@Model.NameSortParam" asp-route-search="@Model.Search">Name</a>
            </th>
            <th>
                <a asp-controller="Albums" asp-action="All" asp-route-sortOrder="@Model.DateSortParam" asp-route-search="@Model.Search">Created On</a>
            </th>
            <th>
                <a asp-controller="Albums" asp-action="All" asp-route-sortOrder="@Model.LocationSortParam" asp-route-search="@Model.Search">Location</a>
            </th>
            <th>
                Description
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.IndexAlbumViewModels)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.CreatedOn
                </td>
                <td>
                    @item.Location
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Albums" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_PagingPartial" model="Model"/>